body::after {
	content: "";
	background-color: rgba($mainColor, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}

	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		background-color: #fff;
		padding: 20px;
		width: 100%;
		max-width: 900px;
		border-radius: 20px;
		transition: all 0.5s ease 0s;

		.lock & {
			visibility: visible;
		}
	}

	// .popup__heading
	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 28, 16, 1440, 768, 1);
		@include adaptiveValue("padding-bottom", 28, 16, 1440, 768, 1);
		margin-top: rem(-20);
		border-bottom: rem(1) solid $LGray;
		@include adaptiveValue("margin-bottom", 32, 24, 768, 360, 1);

		@media (min-width: $mobile) {
			@include adaptiveValue("padding-left", 34, 30, 1440, 768, 1);
			@include adaptiveValue("padding-right", 34, 30, 1440, 768, 1);
			@include adaptiveValue("margin-left", -34, -30, 1440, 768, 1);
			@include adaptiveValue("margin-right", -34, -30, 1440, 768, 1);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-left", 30, 20, 768, 360, 1);
			@include adaptiveValue("padding-right", 30, 20, 768, 360, 1);
			@include adaptiveValue("margin-left", -30, -20, 768, 360, 1);
			@include adaptiveValue("margin-right", -30, -20, 768, 360, 1);
		}

		.popup__close {
			position: initial;
		}
	}

	// .popup__title
	&__title {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 52, 16, 768, 360, 1);

		span {
			font-size: rem(13);
			color: $Gray3;
		}
	}

	// .popup__close
	&__close {
		position: absolute;
		top: rem(20);
		right: rem(20);
		background-color: initial;
		padding: rem(5);
		outline: 0;

		@media (any-hover: hover) {
			transition: $transition ease transform 0s;
			&:hover {
				transform: rotate(180deg);
			}
		}

		svg {
			width: rem(30);
			height: rem(30);
		}
	}

	// .popup__text
	&__text {
	}

	// .popup_video
	&_video {
		.popup__content {
			max-width: rem(1280);
			padding: 0;
			background-color: transparent;
		}

		.popup__close {
			right: 0;
			top: 0;
			transform: translateY(-100%);

			svg {
				fill: $White;
			}
		}

		.popup__text {
			position: relative;
			padding-bottom: percent(480, 860);

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&.popup_right {
		padding: 0;

		.popup__wrapper {
			align-items: flex-end;
		}

		.popup__content {
			min-height: 100svh;
			max-width: 100%;
			border-radius: 0;
			opacity: 0;
			transform: scale(1);

			@media (min-width: $tablet) {
				max-width: rem(673);
			}

			@media (min-width: $mobile) {
				@include adaptiveValue("padding-left", 34, 30, 1440, 768, 1);
				@include adaptiveValue("padding-right", 34, 30, 1440, 768, 1);
			}
			@media (max-width: $mobile) {
				@include adaptiveValue("padding-left", 30, 20, 768, 360, 1);
				@include adaptiveValue("padding-right", 30, 20, 768, 360, 1);
			}
		}
	}

	&.popup_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
			opacity: 1;
		}
	}
}

#popup-basket {
	.popup__heading {
		margin-bottom: 0;
	}
}