// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	// .spollers__item
	&__item {
	}

	// .spollers__title
	&__title {
		width: 100%;
		cursor: default;
		text-align: left;
		position: relative;
		padding-right: rem(24);

		&[data-tippy-content] {
			padding-right: rem(60);
			
			&::after {
				content: "";
				display: block;
				width: rem(20);
				height: rem(20);
				position: absolute;
				right: rem(32);
				top: 50%;
				transform: translateY(-50%);
				background: url(../img/icons/info.svg) no-repeat center/contain;
			}
		}

		._spoller-init & {
			cursor: pointer;

			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: rem(24);
				height: rem(24);
				flex: 0 0 rem(24);
				background: url(../img/icons/select.svg) no-repeat center/contain;
				transition: transform 0.5s ease 0s;
			}
			&._spoller-active {
				&::before {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	// .spollers__body
	&__body {
	}
}
