.tabs {
	// .tabs__navigation
	&__navigation {
		width: 100%;
		display: flex;
		align-items: center;
		gap: rem(16);
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	// .tabs__title
	&__title {
		display: flex;
		font-size: rem(16);
		line-height: math.div(26, 16);
		padding-left: rem(30);
		padding-right: rem(30);
		white-space: nowrap;
		width: initial !important;
		overflow: initial !important;

		&:not(._tab-active) {
			border-color: transparent;

			&.btn_bg-gray {
				background-color: transparent;
				color: $Gray4;
			}
		}

	}

	// .tabs__content
	&__content {
	}

	// .tabs__body
	&__body {
	}
}
