//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;

	&::placeholder {
		transition: $transition ease opacity 0s;
	}

	@media (any-hover: hover) {
		&:hover {
			border-color: $Gray4;
		}
	}

	&:focus {
		border-color: $mainColor !important;

		&::placeholder {
			opacity: 0;
		}
	}
}

.form__label {
	display: inline-block;
	font-size: rem(12);
	line-height: math.div(16, 12);
	margin-bottom: rem(6);
}

.form__input {
	font-size: rem(14);
	border-radius: rem(10) !important;
	width: 100%;
	display: block;
	padding: rem(14) rem(16);
	background-color: $White;
	border: 1px solid $LGray;
	box-sizing: border-box;
	transition: $transition ease all 0s;

	// .form__input_gray
	&_gray {
		background-color: $LGray2;
	}
}
textarea.form__input {
	resize: none;
}
