//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	@include adaptiveValue("width", 76, 46, 768, 360, 1);
	height: rem(28);
	display: flex;
	border-bottom: rem(1) solid $Gray4;

	// .quantity__button
	&__button {
		flex: 0 0 rem(24);
		@include adaptiveValue("flex-basis", 24, 12, 768, 360, 1);
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0px 0px 0px rem(-6);
			@include adaptiveValue("margin-left", -6, -4, 768, 360, 1);
			background-color: $mainColor;
			@include adaptiveValue("width", 13, 7, 768, 360, 1);
			@include adaptiveValue("height", 2, 1, 768, 360, 1);
			border-radius: rem(4);
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {
		}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			color: $mainColor;
			font-weight: 500;
			@include adaptiveValue("font-size", 18, 12, 768, 360, 1);
			width: 100%;
			text-align: center;
		}
	}
}
