// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;

	// .select__body
	&__body {
		font-size: rem(14);
		position: relative;
	}

	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: rem(10);
		border: rem(1) solid transparent;
		height: rem(48);
		transition: $transition ease border-color 0s;
	}

	// .select__value
	&__value {
		display: flex;
		align-items: center;
		padding: 0 rem(16);
		gap: rem(4);

		> * {
			flex: 1 1 auto;
		}

		.select__content {
			white-space: nowrap;
		}

		&:after {
			content: "";
			align-self: stretch;
			flex: 0 0 rem(18);
			display: flex;
			justify-content: center;
			align-items: center;
			background: url(../img/icons/select.svg) no-repeat center/contain;
			transition: all 0.3s ease 0s;
			._select-open & {
				transform: rotate(-180deg);
			}
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		color: $mainColor;
		position: absolute;
		top: rem(45);
		border-radius: 0 0 rem(10) rem(10);
		min-width: 100%;
		left: 0;
		background-color: #fff;
		padding: rem(9) rem(16) rem(9) rem(16);
		box-shadow: 0 16px 16px 0 rgba(50, 50, 71, 0.08);
		transition: $transition ease border-color 0s;
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		color: inherit;
		padding: rem(7) 0;
		transition: $transition ease color 0s;

		&._select-selected {
			background-color: #eee;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $Red;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {
	}

	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
}

.select_gray {
	& + .select__body {
		@media (any-hover: hover) {
			transition: $transition ease border-color 0s;

			&:hover {
				.select__title {
					border-color: $Gray4;
				}
			}
		}

		.select__title {
			background-color: $LGray2;
			border: rem(1) solid $LGray;
			transition: $transition ease all 0s;
		}

		.select__options {
			background-color: $LGray2;
			border: rem(1) solid $LGray;
			border-top: 0;
		}
	}
}

._select-open {
	.select_gray + .select__body {
		.select__title,
		.select__options {
			border-color: $mainColor;
		}
	}
}

._select-open {
	.select_gray + .select__body {
		.select__title {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
