// Заголовки, общие БЄМ блоки и проче...
.d {
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
  &-grid {
    display: grid;
  }
  &-flex {
    display: flex;
  }
}

.justify {
  // .justify-content-end
  &-content-end {
    justify-content: flex-end;
  }

  // .justify-content-start
  &-content-start {
    justify-content: flex-start;
  }

  // .justify-content-center
  &-content-center {
    justify-content: center;
  }

  // .justify-items-start
  &-items-start {
    justify-items: flex-start;
  }

  // .justify-items-end
  &-items-end {
    justify-items: flex-end;
  }

  // .justify-items-center
  &-items-center {
    justify-items: center;
  }
}

.align {
  // .align-items-start
  &-items-start {
    align-items: flex-start;
  }
  // .align-items-center
  &-items-center {
    align-items: center;
  }
  // .align-items-end
  &-items-end {
    align-items: flex-end;
  }
}

.p {
  &t {
    // .pt-0
    &-0 {
      padding-top: 0;
    }
    // .pt-1
    &-1 {
      padding-top: 0.25rem;
    }
    // .pt-2
    &-2 {
      padding-top: 0.5rem;
    }
    // .pt-3
    &-3 {
      padding-top: 1rem;
    }
    // .pt-4
    &-4 {
      padding-top: 1.5rem;
    }
    // .pt-5
    &-5 {
      padding-top: 3rem;
    }
    // .pt-6
    &-6 {
      padding-top: 4.5rem;
    }
  }
  &b {
    // .pb-0
    &-0 {
      padding-bottom: 0;
    }
    // .pb-1
    &-1 {
      padding-bottom: 0.25rem;
    }
    // .pb-2
    &-2 {
      padding-bottom: 0.5rem;
    }
    // .pb-3
    &-3 {
      padding-bottom: 1rem;
    }
    // .pb-4
    &-4 {
      padding-bottom: 1.5rem;
    }
    // .pb-5
    &-5 {
      padding-bottom: 3rem;
    }
    // .pb-6
    &-6 {
      padding-bottom: 4.5rem;
    }
  }
}

.m {
  &t {
    // .mt-0
    &-0 {
      margin-top: 0;
    }
    // .mt-1
    &-1 {
      margin-top: 0.25rem;
    }
    // .mt-2
    &-2 {
      margin-top: 0.5rem;
    }
    // .mt-3
    &-3 {
      margin-top: 1rem;
    }
    // .mt-4
    &-4 {
      margin-top: 1.5rem;
    }
    // .mt-5
    &-5 {
      margin-top: 3rem;
    }
    // .mt-6
    &-6 {
      margin-top: 4.5rem;
    }
  }
  &b {
    // .mb-0
    &-0 {
      margin-bottom: 0;
    }
    // .mb-1
    &-1 {
      margin-bottom: 0.25rem;
    }
    // .mb-2
    &-2 {
      margin-bottom: 0.5rem;
    }
    // .mb-3
    &-3 {
      margin-bottom: 1rem;
    }
    // .mb-4
    &-4 {
      margin-bottom: 1.5rem;
    }
    // .mb-5
    &-5 {
      margin-bottom: 3rem;
    }
    // .mb-6
    &-6 {
      margin-bottom: 4.5rem;
    }
  }
}

section {
  @include adaptiveValue("margin-top", 60, 40, 768, 360, 1);
  @include adaptiveValue("margin-bottom", 60, 40, 768, 360, 1);

  &:first-child {
    @include adaptiveValue("margin-top", 30, 10);
  }
}

._section-bg {
  margin: 0;
  @include adaptiveValue("padding-top", 60, 40, 768, 360, 1);
  @include adaptiveValue("padding-bottom", 100, 80, 1440, 768, 1);
  @include adaptiveValue("border-top-left-radius", 40, 20, 768, 360, 1);
  @include adaptiveValue("border-top-right-radius", 40, 20, 768, 360, 1);

  & + section {
    position: relative;
    margin-top: rem(-40);
    @include adaptiveValue("padding-top", 60, 50, 1440, 768, 1);
    background-color: $White;
    @include adaptiveValue("border-top-left-radius", 40, 20, 768, 360, 1);
    @include adaptiveValue("border-top-right-radius", 40, 20, 768, 360, 1);
  }
}

h,
.title-h {
  &1 {
    font-family: Montserrat;
    font-weight: 700;
    @include adaptiveValue("font-size", 44, 29, 1440, 360, 1);
    line-height: math.div(40, 34);
  }
  
  &2 {
    font-family: Montserrat;
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 28, 1440, 360, 1);
    line-height: math.div(40, 34);
  }

  &3 {
    font-weight: 700;
    @include adaptiveValue("font-size", 28, 22, 768, 360, 1);
    line-height: math.div(32, 28);
  }

  &4 {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 20, 768, 360, 1);
    line-height: math.div(30, 24);
  }

  &5 {
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(26, 20);
  }

  &6 {
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14, 768, 360, 1);
    line-height: math.div(24, 18);
  }
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

._heading {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 36, 20, 768, 360, 1);
  }
}

ol {
  display: grid;
  align-content: flex-start;
  row-gap: rem(12);
  counter-reset: item;

  li {
    position: relative;
    padding-left: rem(20);
    list-style-type: none;

    &::before {
      content: counter(item) ".";
      counter-increment: item;
      position: absolute;
      left: 0;
    }

    & > ol,
    & > ul {
      margin-top: rem(12) !important;
    }

    & > ol {
      counter-reset: subitem;

      li {
        &::before {
          content: counter(item) "." counters(subitem, ".") " ";
          counter-increment: subitem;
        }
      }
    }

    & > ul {
      li {
        padding: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

._content {
  width: 100%;
  max-width: rem(1180);

  & > * {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }

  a {
    text-decoration: underline from-font;
    text-underline-offset: 3px;
    transition: $transition ease text-decoration 0s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline transparent from-font;
      }
    }
  }

  p {
    min-height: rem(1);
  }

  ul {
    padding-left: rem(20);
    display: grid;
    align-content: flex-start;
    row-gap: rem(8);
    margin: rem(16) 0;

    li {
      list-style-type: disc;
    }
  }

  iframe {
    position: relative;
    @include adaptiveValue("border-radius", 30, 20, 768, 360, 1);
    @include adaptiveValue("margin-top", 16, 0, 768, 360, 1);
    @include adaptiveValue("margin-bottom", 16, 0, 768, 360, 1);
  }

  div {
    @include adaptiveValue("padding-top", 24, 16, 768, 360, 1);
    @include adaptiveValue("padding-bottom", 24, 16, 768, 360, 1);
    @include adaptiveValue("padding-left", 24, 18, 768, 360, 1);
    @include adaptiveValue("padding-right", 24, 18, 768, 360, 1);
    border-radius: rem(20);
    background-color: $Blue3;
  }

  img {
    @include adaptiveValue("border-radius", 30, 20, 768, 360, 1);
  }

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.table {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: $Red $Line;

  &::-webkit-scrollbar {
    width: rem(5);
  }
  &::-webkit-scrollbar-track {
    background-color: $Red;
    border-radius: 22px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background-color: $Line;
  }

  table {
    width: 100%;
    border-collapse: separate;
    line-height: math.div(26, 16);
    border-spacing: rem(2) rem(4);

    th {
      font-weight: 400;
      text-align: left;
      color: $Gray3;
      padding: rem(12) rem(16);
    }

    td {
      padding: rem(10) rem(16);
      background-color: $Line;

      &:first-child {
        border-top-left-radius: rem(8);
        border-bottom-left-radius: rem(8);
      }

      &:last-child {
        border-top-right-radius: rem(8);
        border-bottom-right-radius: rem(8);
      }

      a {
        color: $Blue;
      }
    }
  }
}

._hidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 1;
}
._disabled {
  pointer-events: none;
}
._nowrap {
  white-space: nowrap;
}

._color-green {
  color: $Green;
}
._color-red {
  color: $Red;
}

// Анимации при наведении
[class*="link-"] {
  position: relative;
  white-space: nowrap;

  &::before {
    content: "";
    display: block;
    width: 0;
    border-bottom: rem(1) solid;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: $transition ease all 0s;
  }
}

.link-hover {
  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.link-underline {
  &::before {
    width: 100%;
    opacity: 1;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 0;
        width: 0%;
      }
    }
  }
}

.shake-animation {
  display: inline-block;

  @media (any-hover: hover) {
    &:hover {
      animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(1px);
  }
}

@keyframes kenburns-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 50%;
  }
  100% {
    transform: scale(1.25) translateX(20px);
    transform-origin: right;
  }
}

//.swiper     ====================================================================================================
.swiper-pagination {
  bottom: rem(20) !important;

  @media (max-width: $mobileM) {
    position: initial;
    padding: rem(12) 0;
  }

  // .swiper-pagination-bullet
  &-bullet {
    margin: 0 rem(12) !important;
    background: transparent;
    border: rem(1) solid $mainColor;
    opacity: 1;

    // .swiper-pagination-bullet-active
    &-active {
      background: $mainColor;
    }
  }
}

.swiper-arrows {
  display: flex;
  align-items: center;
  gap: rem(16);

  // .swiper-arrows__arrow
  &__arrow {
    width: rem(42);
    height: rem(42);
    flex: 0 0 rem(42);
    border-radius: rem(12);
    overflow: hidden;
    background-color: $Grey;
    align-items: center;
    justify-content: center;
    cursor: initial;

    &:not(.swiper-button-lock) {
      display: inline-flex;
    }

    &:not(.swiper-button-disabled) {
      cursor: pointer;

      @media (any-hover: hover) {
        transition: $transition ease opacity 0s;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    // .swiper-arrows__arrow_prev
    &_prev {
      transform: rotate(90deg);
    }

    // .swiper-arrows__arrow_next
    &_next {
      transform: rotate(-90deg);
    }

    svg {
      width: rem(34);
      height: rem(34);
      flex: 0 0 rem(34);
    }
  }
}

.swiper-fraction {
  display: flex;
  justify-content: center;
  gap: rem(4);

  // .swiper-fraction__current
  &__current {
  }

  // .swiper-fraction__sepparator
  &__sepparator {
  }

  // .swiper-fraction__total
  &__total {
  }
}

//.lightgalleryjs     ====================================================================================================
body {
  .lg-backdrop {
    background-color: $Grey;
  }

  .lg-toolbar .lg-icon,
  .lg-counter {
    color: $mainColor;

    @media (any-hover: hover) {
      &:not(.disabled) {
        transition: $transition ease opacity 0s;
        &:hover {
          opacity: 0.6;
          color: $mainColor;
        }
      }
    }
  }

  .lg-next,
  .lg-prev {
    background-color: transparent;
    color: $mainColor;

    @media (any-hover: hover) {
      &:not(.disabled) {
        transition: $transition ease opacity 0s;
        &:hover {
          opacity: 0.6;
          color: $mainColor;
        }
      }
    }
  }

  .lg-sub-html {
    color: $mainColor;
  }
}

//.menu     ====================================================================================================
.menu {
  // .menu__arrow
  &__arrow {
  }

  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100vh;
      background-color: $White;
      overflow-y: auto;
      overflow-x: hidden;
      padding: rem(80) rem(16) rem(40);
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 5;
      transition: 0.5s ease all 0s;

      &::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: -100%;
        height: rem(80);
        background-color: $White;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 7;
        transition: 0.5s ease all 0s;
      }

      .menu-open & {
        top: 0;
        opacity: 1 !important;
        visibility: visible;
        pointer-events: all;

        &::before {
          opacity: 1 !important;
          visibility: visible;
          top: 0;
        }
      }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
      @include adaptiveValue("padding-left", 32, 30, 1440, 768, 1);
      @include adaptiveValue("padding-right", 32, 30, 1440, 768, 1);
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("padding-left", 30, 20, 768, 360, 1);
      @include adaptiveValue("padding-right", 30, 20, 768, 360, 1);
    }
  }

  // .menu__list
  &__list {
    @media (min-width: $tablet) {
      margin-top: rem(-8);
      margin-bottom: rem(-8);
    }
  }

  // .menu__item
  &__item {
    display: flex;
    align-items: center;
    gap: rem(6);
    position: relative;

    @media (min-width: $tablet) {
      padding-top: rem(8);
      padding-bottom: rem(8);
    }

    // .menu__item_has-children
    &_has-children {
      @media (any-hover: hover) {
        &:hover {
          & > ul {
            opacity: 1 !important;
            visibility: visible !important;
            pointer-events: all !important;
          }

          .icon_select {
            transform: rotate(180deg);
          }
        }
      }

      &._hover {
        & > ul {
          opacity: 1 !important;
          visibility: visible !important;
          pointer-events: all !important;
        }

        .icon_select {
          transform: rotate(180deg);
        }
      }

      & > ul {
        display: grid;
        align-content: flex-start;

        &[hidden] {
          display: none;
        }

        @media (min-width: $tablet) {
          background-color: $White;
          position: absolute;
          z-index: 7;
          bottom: 0;
          transform: translateY(100%);
          padding: rem(12) rem(16);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          border-radius: rem(14);
          overflow: hidden;
          transition: $transition ease all 0s;

          a {
            font-size: rem(15);
            line-height: math.div(24 , 15);
            padding-top: rem(8);
            padding-bottom: rem(8);
            color: $Gray3;
            display: block;
            white-space: nowrap;

            @media (any-hover: hover) {
              transition: $transition ease color 0s;
              &:hover {
                color: $mainColor;
              }
            }
          }
        }

        .menu__item {
          padding: 0;
        }
      }

      .menu__arrow {
        svg {
          pointer-events: none;
        }
      }

      .icon_select {
        transition: $transition ease transform 0s;
      }
    }
  }

  // .menu__sub-list
  &__sub-list {
  }

  .menu__item_circle {
    .menu__arrow {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    .menu__sub-list {
      @media (max-width: $tablet) {
        flex: 1;
      }
    }
  }
}

//.logo     ====================================================================================================
.logo {
  a {
    transition: $transition ease opacity 0s;

    @media (any-hover: hover) {
      transition: $transition ease opacity 0s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

//.socials     ====================================================================================================
.socials {
  display: flex;
  align-items: center;
  gap: rem(24);

  // .socials__item
  &__item {
    display: inline-flex;
    align-items: center;

    a {
      @media (any-hover: hover) {
        &:hover {
          svg {
            fill: $mainColor;
          }
        }
      }
    }

    svg {
      width: rem(30);
      height: rem(30);
      flex: 0 0 rem(30);
      fill: $Gray3;
      transition: $transition ease fill 0s;
    }
  }
}

//.contacts     ====================================================================================================
.contacts {
  display: grid;
  align-content: flex-start;
  @include adaptiveValue("row-gap", 16, 12, 768, 360, 1);

  // .contacts__item
  &__item {
  }

  // .contacts__item_bg-gray
  &__item_bg-gray {
    padding: rem(14) rem(24);
    background-color: $Line;
    border-radius: rem(20);
  }

  // .contacts__row
  &__row {
    display: grid;
    grid-template-columns: rem(24) 1fr;
    align-content: flex-start;
    align-items: flex-start;
    gap: rem(12);
  }

  // .contacts__icon
  &__icon {
    position: relative;
    padding-bottom: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .contacts__body
  &__body {
  }

  // .contacts__caption
  &__caption {
    font-weight: 500;
  }

  // .contacts__link
  &__link {
  }
}

//.breadcrumbs     ====================================================================================================
main > .breadcrumbs {
  @include adaptiveValue("margin-top", 30, 10);
}

.breadcrumbs {
  position: relative;

  &._section-bg {
    padding-top: rem(30);
    min-height: rem(280);

    &:first-child {
      margin-top: 0;
    }
  }

  // .breadcrumbs__bg
  &__bg {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      pointer-events: none;
    }

    & + section {
      @include adaptiveValue("margin-top", -30, -24);
    }
  }

  // .breadcrumbs__container
  &__container {
    position: relative;
  }

  // .breadcrumbs__wrapper
  &__wrapper {
    display: grid;
    align-content: flex-start;
    row-gap: rem(8);

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  // .breadcrumbs__title
  &__title {
    font-weight: 600;
  }

  // .breadcrumbs_row
  &_row {
    .breadcrumbs__wrapper {
      @media (min-width: $mobile) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(16);
      }
    }

    .breadcrumbs__title {
      @media (min-width: $mobile) {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  // .breadcrumbs_border
  &_border {
    &:not(:last-child) {
      .breadcrumbs__wrapper {
        @include adaptiveValue("padding-bottom", 32, 24, 1440, 768, 1);
        @include adaptiveValue("margin-bottom", 32, 24, 1440, 768, 1);
        border-bottom: rem(1) solid $LGray;
      }
    }
  }

  // .breadcrumbs_border-desk
  &_border-desk {
    @media (min-width: $tablet) {
      &:not(:last-child) {
        .breadcrumbs__wrapper {
          @include adaptiveValue("padding-bottom", 32, 24, 1440, 768, 1);
          @include adaptiveValue("margin-bottom", 32, 24, 1440, 768, 1);
          border-bottom: rem(1) solid $LGray;
        }
      }
    }
  }

  & + section {
    @include adaptiveValue("margin-top", 30, 24);
  }
}

.site-breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(10);
  @include adaptiveValue("font-size", 13, 12, 768, 360, 1);
  line-height: math.div(16, 12);

  // .site-breadcrumbs__link
  &__link {
    color: $Gray4;
  }

  // .site-breadcrumbs__separator
  &__separator {
    color: $Gray4;
  }

  // .site-breadcrumbs__title
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

//.items-navigation     ====================================================================================================
.items-navigation {
  @media (min-width: $mobile) {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
  @media (max-width: $mobile) {
    display: grid;
    align-content: flex-start;
    row-gap: rem(30);
  }

  &:not(:first-child) {
    @include adaptiveValue("margin-top", 60, 42, 768, 360, 1);
  }

  .items-navigation__left,
  .items-navigation__right {
    @media (min-width: em(1179.98)) {
      flex: 0 1 70%;
    }
  }

  // .items-navigation__left
  &__left {
    @media (max-width: em(1179.98)) {
      display: none;
    }
  }

  // .items-navigation__center
  &__center {
    @media (min-width: em(1179.98)) {
      flex: 1 0 30%;
    }
    @media (max-width: em(1179.98)) {
      flex: 1;
    }
  }

  // .items-navigation__button
  &__button {
    @media (min-width: em(1179.98)) {
      display: flex;
      justify-content: center;
    }

    .btn {
      width: 100%;
      @media (min-width: $mobileM) {
        @include adaptiveValue("max-width", 432, 313, 1440, 768, 1);
      }
    }
  }

  // .items-navigation__right
  &__right {
    @media (min-width: $mobile) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: rem(4);
  font-size: rem(16);
  line-height: math.div(20, 16);

  // .pagination__label
  &__label {
    font-weight: 500;

    &:not(:last-child) {
      @include adaptiveValue("margin-right", 18, 0, 1440, 992, 1);
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .page-numbers {
    display: inline-block;
    padding: rem(14);
    color: $Gray3;

    &:not(:last-child) {
      border-right: rem(1) solid $LGray;
    }

    &.current {
      font-weight: 500;
      color: $Blue;
    }
  }
  a.page-numbers {
    @media (any-hover: hover) {
      transition: $transition ease color 0s;
      &:hover {
        color: $mainColor;
      }
    }
  }

  .page-prev {
  }
  .current {
  }
  .page-next {
  }
  .page-all {
  }
}

.search {
  // .search__input
  &__input {
    position: relative;

    input {
      padding-right: rem(52);
    }

    .icon_search {
      position: absolute;
      right: rem(16);
      top: 50%;
      transform: translateY(-50%);
      width: rem(20);
      height: rem(20);
      flex: 0 0 rem(20);
    }
  }
}
