@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Mulish";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #222222; // Цвет шрифта по умолчанию
$White: #fff;
$Red: #ff3030;
$Grey: #f8f8f8;
$Gray3: #686868;
$Gray4: #acacac;
$Gray5: #a6a6a6;
$LGray: #e3e3e3;
$LGray2: #f4f4f4;
$DGray: #7a7a7a;
$Green: #0ab3a3;
$Line: #f1f3f5;
$Blue: #3b8de8;
$Blue2: #97aabc;
$Blue3: #e8f3f7;
$Orange: #ffcc50;

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1840;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1439.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileM: em(574.98); // Телефоны M
$mobileSmall: em(479.98); // Телефоны S

$transition: 0.3s;

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
html {
	scroll-behavior: smooth;
	@include adaptiveValue("scroll-padding-top", 106, 90, 1440, 768, 1);
}

body {
	transition: $transition ease opacity 0s;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
		opacity: 1;
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	@include adaptiveValue("padding-left", 30, 20, 768, 360, 1);
	@include adaptiveValue("padding-right", 30, 20, 768, 360, 1);

	@media (min-width: em($pc)) {
		@include adaptiveValue("padding-left", 40, 32, 1920, 1440, 1);
		@include adaptiveValue("padding-right", 40, 32, 1920, 1440, 1);
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

@import "main";
